<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>glass.kagerou.adrafinil.helper</string>
    <key>CFBundleName</key>
    <string>AdrafinilHelper</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>SMAuthorizedClients</key>
    <array>
        <string>identifier "glass.kagerou.adrafinil" and anchor apple generic</string>
    </array>
</dict>
</plist>
