<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>glass.kagerou.adrafinil.helper</string>

    <key>BundleProgram</key>
    <string>Contents/Library/LaunchDaemons/AdrafinilHelper</string>

    <key>MachServices</key>
    <dict>
        <key>glass.kagerou.adrafinil.helper</key>
        <true/>
    </dict>

    <key>AssociatedBundleIdentifiers</key>
    <array>
        <string>glass.kagerou.adrafinil</string>
    </array>

    <key>KeepAlive</key>
    <true/>

    <key>RunAtLoad</key>
    <false/>

    <key>ProcessType</key>
    <string>Background</string>
</dict>
</plist>
